@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Ysabeau:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(74, 99, 107);
    --accent-color: #eed770;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #3f5156;
    font-family: 'Bruno Ace', sans-serif;
    word-break: break-all;
    position: relative;
}

.wrapper {
    position: relative;
}

.loading {
    width: 100%;
    height: 100%;
    background: var(--accent-color);
    color: #fff;
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    top: 0;
    left: 0;
    opacity: 1;
    position: absolute;
}

.moon {
    background: var(--accent-color);
    position: absolute;
    z-index: 99;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 17vh;
    right: 3%;
    text-decoration: none;
    .moon-title {
        opacity: 0;
        display: none;
    }
    .moon-text {
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        transition: .3s;
        line-height: 1.5;
        @media screen and (max-width: 480px) {
            font-size: .8em;
        }
        &:hover {
            opacity: .6 !important;
        }
    }
    @media screen and (max-width: 1000px) {
        width: 160px;
        height: 160px;
    }
    @media screen and (max-width: 480px) {
        width: 80px;
        height: 80px;
    }
}

.wrapper {
    overflow: hidden;
}

section {
    width: 100%;
    padding: 60px 0;
    background: rgb(226 232 234);
    &:nth-child(2n){
        background: var(--main-color);
        background-image: repeating-linear-gradient(to bottom, #3f5156, #3f5156 1px, transparent 0, transparent 64px), repeating-linear-gradient(to right,#3f5156, #3f5156 1px, transparent 0, transparent 64px);    
        h1 {
            color: rgb(226 232 234);
        }
    }
    h1 {
        text-align: center;
        font-size: 3em;
        color: var(--main-color);
        font-weight: bold;
        font-family: 'Bruno Ace', sans-serif;
        margin-bottom: 40px;
    }
}

.sp {
    display: none;
    @media screen and (max-width: 1000px) {
        display: block;
    }
}

header {
    width: 100%;
    position: relative;
    background: rgb(226 232 234);
}

.header-inner {
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background: #fff;
}

.pc-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
     a {
        text-decoration: none;
        margin: 0 8px;
        color: var(--main-color);
        font-family: 'Bruno Ace', sans-serif;
        padding: 10px 20px;
        position: relative;
        overflow: hidden;
        transition: all .2s;
        &:hover {
            background: var(--main-color);
            color:#fff;
            transition-delay: .5s;
            &::before,&::after {
                transform: translateX(0);
            }
        }
        &.a-nav {
            display: block;
            @media screen and (max-width: 800px) {
                display: none;
            }
        }
        &::before,&::after {
            content: "";
            position: absolute;
            left: 0;
            height: 2px;
            width:100%;
            background: var(--main-color);
            transition: all .5s;
        }
        &::before {
            top: 0;
            transform: translateX(-100%);
        }
        &::after {
            bottom: 0;
            transform: translateX(100%);
        }
    }
}

.sp-nav {
    display: none;
    @media screen and (max-width: 800px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .a-nav {
        display: none;
    }
    &.panelactive {
        position:fixed;
        z-index: 998;
        top: 0;
        width:100%;
        height: 100vh;
        .a-nav {
            display: block;
            text-decoration: none;
            color: #fff;
            margin-bottom: 50px;
        }
    }
}

.circle {
    position: fixed;
    z-index: 100;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--main-color);
    transform: scale(0);
    bottom: -50px;
    left: calc(50% - 50px);
    transition: all .6s;
    &.circleactive {
        transform: scale(50);
    }
}

.open {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 998;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: none;
    background: var(--accent-color);
    padding: 10px;
    @media screen and (max-width: 800px) {
        display: block;
    }
    span {
        display: inline-block;
        transition: all .4s;
        position: absolute;
        left: 14px;
        height: 3px;
        border-radius: 2px;
        background: #fff;
        width: 45%;
        &:nth-of-type(1) {
            top: 15px;
        }
        &:nth-of-type(2) {
            top: 23px;
        }
        &:nth-of-type(3) {
            top: 31px;
        }
    }
    &.active {
        z-index: 9999 !important;
        span {
            &:nth-of-type(1) {
                top: 18px;
                left: 18px;
                transform: translateY(6px) rotate(-45deg);
                width: 33%;
                background: var(--main-color);
            }
            &:nth-of-type(2) {
                opacity: 0;
            }
            &:nth-of-type(3){
                top: 30px;
                left: 18px;
                transform: translateY(-6px) rotate(45deg);
                width: 33%;
                background: var(--main-color);
            }
        }
    }
}

.a-logo {
    font-size: 2em;
    text-decoration: none;
    color: var(--main-color);
    text-align: center;
    font-weight: bold;
    opacity: 1;
    font-family: 'Bruno Ace', sans-serif;
    @media screen and (max-width: 480px) {
        font-size: 1.5em;
    }
}

.main-box {
    width: 100%;
    height: 88vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 5%;
    font-weight: bold;
    z-index: 1;
    background: url(/image/main-v.webp);
    background-position: center;
    position: relative;
    overflow-y: hidden;
}

.main-read {
    color: var(--main-color);
    font-size: 4em;
    margin-left: 68px;
    text-transform: uppercase;
    text-shadow: 4px 8px 0px #e7ecee;
    @media screen and (max-width: 800px) {
        font-size: 2.5em;
        text-shadow: 2px 2px 0px #e7ecee;
        margin-left: 48px;
    }
    @media screen and (max-width: 480px) {
        font-size: 1.5em;
    }
}

.sub-read {
    writing-mode: vertical-lr;
    background: var(--main-color);
    padding: 10px; 
    font-size: 2.5em;
    color: #e7ecee;
    position: absolute;
    left: 0;
    height: 100%;
    text-align: center;
    @media screen and (max-width: 800px) {
        font-size: 1.8em;
    }
    @media screen and (max-width: 480px) {
        font-size: 1.2em;
    }
}

.scrolldown {
    position: absolute;
    bottom: 10px;
    left: 50%;
    opacity: 1;
    span {
        position: absolute;
        left: 10px;
        bottom: 10px;
        color: var(--main-color);
        font-size: 0.7rem;
        letter-spacing: 0.05em;
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
    }
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: -4px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: var(--main-color);
        animation: circlemove 1.6s ease-in-out infinite, cirlemovehide 1.6s ease-out infinite;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 2px;
        height: 50px;
        background: var(--main-color);
    }
}

@keyframes circlemove {
    0% {
        bottom:45px;
    }
    100% {
        bottom:-5px;
    }
}

@keyframes cirlemovehide {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    80% {
        opacity: 0.9;
    }
    100% {
        opacity: 0;
    }
}

main {
    width: 100%;
}

.container {
    max-width: 1440px;
    padding: 0 2%;
}

.flex-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    @media screen and (max-width: 1000px) {
        flex-direction: column;
    }
    .about-image {
        position: relative;
        z-index: 1;
        width: 60%;
        height: auto;
        @media screen and (max-width: 1000px) {
            width: 100%;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    .about-text {
        position: absolute;
        right: 0;
        bottom: 20px;
        width: 45%;
        z-index: 2;
        background: #fffffff4;
        padding: 20px;
        color: var(--main-color);
        @media screen and (max-width: 1000px) {
            position: relative;
            width: 100%;
            right: 0;
        }
        h2 {
            margin-bottom: 20px;
            padding-bottom: 5px;
            font-weight: 700;
            border-bottom: solid 1px var(--main-color);
        }
        p {
            margin-bottom: 20px;
            line-height: 1.6em;
        }
        a {
            background: var(--accent-color);
            color: #fff;
            padding: 4px 8px;
            text-decoration: none;
            &:hover {
                opacity: .8;
            }
        }
    }
}

.skills-detail {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 40px;
        width: 49%;
        &:hover {
            img {
                border-radius: 100%;
                transition: .3s;
            }
        }
        @media (max-width: 800px) {
            width: 100%;
        }
        .skills-img {
            width: 100px;
            height: auto;
            margin-right: 20px;
            @media (max-width: 800px) {
                margin-right: 2%;
            }
            img {
                width: 100%;
                height: auto;
                object-fit: contain;
                transition: all .5s ease;
            }
        }
        .skills-text {
            width: 70%;
            color: #fff;
            flex: 1;
            h2 {
                margin-bottom: 10px;
                line-height: 1;
                @media (max-width: 480px) {
                    font-size: 1.3em;
                }
            }
            p {
                text-align: left;
                font-size: 1em;
                line-height: 1.5;
            }
        }
    }
}

.blog {
    padding: 60px 0 120px;
}

.blog-content {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 480px) {
        flex-direction: column;
    }
    &::after {
        position: absolute;
        bottom: -150px;
        left: 1.5%;
        display: block;
        content: "What's New";
        font-size: 5em;
        color: var(--main-color);
        opacity: .4;
        text-align: left;
        margin-bottom: 30px;
        z-index: 0;
        @media (max-width: 800px) {
            font-size: 3em;
            bottom: -80px;
        }
        @media (max-width: 480px) {
            font-size: 2em;
        }
    }
    .blog-item {
        position: relative;
        z-index: 1;
        width: 32%;
        margin: 0 0 40px;
        background: #fff;
        box-shadow: 0px 11px 15px -4px #cfcece;
        text-decoration: none;
        transition: .3s;
        @media (max-width: 800px) {
            width: 49%;
        }
        @media (max-width: 480px) {
            width: 100%;
        }
        &:hover {
            box-shadow: none;
        }
        .blog-img {
            width: 100%;
            height: 200px;
            overflow:hidden;
            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                position: relative;
                z-index: 0;
                &:hover {
                    transform: scale(1.1, 1.1);
                    transition: .3s;
                }
            }
        }
        .blog-text {
            padding: 15px;
            position: relative;
            z-index: 1;
        }
        .category {
            background: var(--main-color);
            color: #fff;
            display: inline-block;
            padding: 4px 8px;
            margin-right: 10px;
            font-size: .8em;
        }
        .date {
            display: inline-block;
            color: var(--main-color);
            font-size: .8em;
        }
        h2 {
            margin-top: 10px;
            color: var(--main-color);
            font-weight: normal;
            font-size: 1em;
        }
    }
}

.form-box {
    width: 100%;
    max-width: 500px;
    margin: 40px auto;
    @media (max-width: 800px) {
        max-width: 100%;
    }
    p {
        color: #e9e7e7;
        text-align: center;
    }
    .form-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        input {
            color: #fff;
            background: #3f5156;
            font-size: 15px;
            transition: all .3s;
            padding: 13px;
            width: 100%;
            border: none;
            margin-bottom: 30px;
            font-weight: normal;
            &:focus {
                outline: none;
            }
            &::placeholder {
                color: #999;
            }
        }
        textarea {
            color: #fff;
            background: #3f5156;
            font-size: 15px;
            transition: all .3s;
            padding: 13px;
            width: 100%;
            border: none;
            min-height: 150px;
            font-weight: normal;
            &:focus {
                outline: none;
            }
            &::placeholder {
                color: #999;
            }
        }
        button {
            color: var(--main-color);
            background: var(--accent-color);
            border: solid 1px var(--accent-color);
            padding: 10px 20px;
            margin-top: 30px;
            display: inline-block;
            transition: all .5s ease;
            cursor: pointer;
            &:hover {
                border: solid 1px var(--accent-color);
                color: var(--accent-color);
                background: transparent;
            }
        }
    }
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8px 0;
    background: #3f5156;
    small {
        color: var(--main-color);
        font-size: 1em;
        font-family: 'Ysabeau', sans-serif;
        color: #fff;
    }
}

.eyecatch {
    width: 100%;
    margin-bottom: 30px;
    img {
        width: 100%;
        max-height: 500px;
        object-fit: cover;
    }
}
.blog-detail {
    min-height: 100vh;
    h1 {
        text-align: left;
        font-size: 2.5em;
        @media (max-width: 800px) {
            font-size: 2em;
        }
        @media (max-width: 480px) {
            font-size: 1.5em;
        }
    }
}
.blog-detail-text {
    width: 100%;
    color: #fff;
}